body {
display: flex;
flex-direction: column;
/* align-items: flex-start; */ /*this is the opp of justify-content*/
}

.container-props {
    font-family: 'Lucida Console';
    text-decoration: underline;
}

.parent-item-blue {
    display: flex;
    flex-direction: row;
}

.child-item-blue{
    width: 25%;
    height: 100px;
    background-color: #8cacea;
    margin: 1em;
    list-style-type: none;
}

.parent-item-red {
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap-reverse;
    flex-wrap: wrap; */
    flex-flow: row wrap; /*Does the same as above*/
}

.child-item-red{
    width: 100px;
    height: 100px;
    background-color: rgba(231, 136, 136, 0.733);
    margin: 1em;
    list-style-type: none;
}

.parent-item-green {
    display:flex;
    border: 1px solid red;
    padding: 0;
    background-color: #e8e8e9;
    /* justify-content: space-around; */
    align-items: stretch;
    /* align-content: flex-end; */
}

.child-item-green{
    width: 100px;
    height: 100px;
    background-color: rgba(136, 231, 144, 0.733);
    margin: 1em;
    padding: 1em;
    list-style-type: none;
    align-items: flex-end;
}

.parent-item-cyan {
    display:flex;
    border: 1px solid rgb(7, 6, 6);
    padding: 0;
    background-color: #e8e8e9;
    align-items: flex-end;
}

.child-item-cyan{
    width: 100px;
    height: 100px;
    background-color: rgba(136, 212, 231, 0.733);
    margin: 1em;
    padding: 1em;
    list-style-type: none;
    flex-grow: 1;
    /*flex-basis: % or pixel can be used to determine growth or shrinkage of a 
    flex item, can be set to auto or static value for no flexibility*/
    /*flex: 0 0 auto; this GROW SHRINK BASIS shorthand spcifies that the item
    doesnt grow nor shrink with basis set to auto*/
}

.child-item-cyan:nth-child(1) {
    order:1;
}


.flex-basis-flex {
    display:flex;
    border: 1px solid rgb(7, 6, 6);
    padding: 0;
    background-color: indigo;
    align-items: flex-end;
}

.flex-basis-flex-child {
    height: 100px;
    background-color:white;
    margin: 1em;
    padding: 1em;
    list-style-type: none;
    flex: 0 0 auto;
}

.flex-basis-grow {
    display:flex;
    border: 1px solid rgb(7, 6, 6);
    padding: 0;
    background-color: rgb(130, 128, 0);
}

.demo-absolute-relative {
    display: flex;
}

.absolute-relative-child {
    height: 100px;
    background-color:red;
    margin: 1em;
    padding: 1em;
    list-style-type: none;
    flex: 1;
}

.logo {
    height: 1em;
}
.link-items {
    font-family: 'Courier New', Courier, monospace;
    list-style-type: none;
}

.container-nav__items {
    display: flex;
    align-items: baseline;
}

.navbar {
    display: flex;
    align-items: flex-end;
}

.navbar-items {
    margin-left: 1em;
}

link-items:nth-child(1) {
    margin-right: auto;
}


.flex-dir {
    display: flex;
    width: 2em;
    height: 5em;
    float: left;
    flex-direction: column;
    align-items: center;
}

.flex-dir__child {
    background-color: green;
    margin: 2em;
}





